.app {
  position: static;
  background-image: url(src/assets/images/s15.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  position: absolute;
  position: absolute;
  top: 11.76vh;
  left: 43.4%;
  transform: translateX(-50%);
  /* left: 34.72vw;  */
  /* top: 11.76%;
  left: 34.72%; */
  width: 100%;
  max-width: 236.75px;
  height: 65.5vh;
  background-color: rgba(255, 255, 255, 0.99);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
